altgraph==0.17.4
autobahn==24.4.2
cffi==1.17.1
colorama==0.4.6
colorlog==6.8.2
cryptography==43.0.1
hyperlink==21.0.0
idna==3.10
Levenshtein==0.26.0
packaging==24.1
pefile==2023.2.7
pycparser==2.22
pyinstaller==6.11.0
pyinstaller-hooks-contrib==2024.9
pywin32-ctypes==0.2.3
RapidFuzz==3.10.0
tabulate==0.9.0
txaio==23.1.1
waapi-client==0.6